                        /* ----  ASPECT GENERAL  ---- */

/* ---- BACKGROUND ET COULEUR ---- */
body {
    color: white;
    background-image: url(img/bg.jpg);
    background-position: center;
}


                        /* ----  PRESENTATION  ---- */
.conteneur {   
    padding: 10%;
    text-align: center;
}

.titre_acceuil {
}

.logo_acceuil {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_acceuil {
    text-shadow: black;
}

                        /* ----    MENU     ---- */
/* ---- TOUS ---- */
.menu {
    text-align: center;
}

.menu_text {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

/* ---- BOITE DU CENTRE ---- */

.menu_content {
    max-height: 100px;
    width: 100px;
    display: inline-block;
    border: solid 1px white;
    padding: 10px;
    margin-left: -4px;
}
.menu_content:hover {
    background-color: black;
}

/* ---- BOITE DE GAUCHE ---- */
.menu_content_left {
    max-height: 100px;
    width: 100px;
    display: inline-block;
    border: solid 1px white;
    padding: 10px;
    margin-left: -4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.menu_content_left:hover {
    background-color: black;
}

/* ---- BOITE DE DROITE ---- */
.menu_content_right {
    max-height: 100px;
    width: 100px;
    display: inline-block;
    border: solid 1px white;
    padding: 10px;
    margin-left: -4px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.menu_content_right:hover {
    background-color: black;
}

/* ---- LIEN INTÉRIEUR ---- */
.menu_link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

                           

                        /* ---- BAS DE PAGE ---- */
.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

                    /* ---- ADAPTATION MOBILE ---- */
@media only screen and (max-width: 460px) {
    
    .menu_content {
    max-width: 75%;
    width: auto;
    }
    
    .menu_content_left {
        max-width: 75%;
        width: auto;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    .menu_content_right {
        max-width: 75%;
        width: auto;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}